version: '3.7'

services:
  clickhouse:
    image: yandex/clickhouse-server
    restart: always
    hostname: clickhouse
    ports:
      - "8123:8123"
      - "9001:9000"
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
      - ./clickhouse_logs:/var/log/clickhouse-server
      - ./config/BaseList.csv:/var/lib/clickhouse/user_files/BaseList.csv
    healthcheck:
      test:  wget --no-verbose --tries=1 --spider http://localhost:8123/?query=SELECT%201 || exit 1
      interval: 10s
      timeout: 3s
      retries: 5

  vector:
    image: timberio/vector:latest-alpine
    restart: always
    hostname: vector
    environment:
      - CH_SERVER=clickhouse:8123
      - CH_USER=default
      - CH_PASSWORD=123456
      - LOG_TABLE=eventlog
      - ERROR_TABLE=eventlog_error
      # - CH_BASE_NAME=testBase1       # Если задано, то поиск в BaseList.csv производится не будет!!!
    volumes:
      - ./config:/etc/vector/
      - ./out:/tmp/
      - ./logs:/var/log/eventlog/server1/
      # - ./Logs_from_server2:/var/log/eventlog/server2/ # Если вы планируете собирать логи более чем с одного сервера - примонтируйте необходимые папки.
    depends_on:
      clickhouse:
        condition: service_healthy